#emil {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media only screen and (max-width: 768px) {
  #emil {
    flex-wrap: wrap;
  }
}
#emil #visitedBox {
  padding-left: 100px;
}
#lena_teaser {
  top: 50%;
  position: fixed;
  right: 25px;
  text-decoration: none;
  width: 100px;
  height: 150px;
  background-image: url("images/chatbot.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1040;
}
#quLenaPluginWrapper {
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #0008;
}
#close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
#close:hover {
  opacity: 1;
}
#close:before,
#close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}
#quLenaPlugin {
  position: relative;
  max-width: 33%;
  width: 33%;
  margin: 30px auto 0;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
}
@media only screen and (max-width: 768px) {
  #quLenaPlugin {
    max-width: 100%;
    width: 100%;
    margin: 15px 0 0;
  }
}
#suggestions {
  margin-bottom: 30px;
  min-height: 150px;
}
#suggestions > div.customBG {
  float: right;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#suggestions li.suggestion div.suggestion {
  display: flex;
  gap: 10px;
}
#suggestions li.suggestion div.suggestion img {
  width: 20px;
  height: 20px;
}
#suggestions li.suggestion a,
#suggestions li.suggestion a:visited {
  display: inline-block;
  color: black;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
#plannedBox {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#visitedBox {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#plannedList,
#list,
#visitedList {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}
#plannedList li.heading span,
#list li.heading span,
#visitedList li.heading span {
  color: #555;
}
#plannedList li div.visitedItem,
#list li div.visitedItem,
#visitedList li div.visitedItem {
  display: flex;
  gap: 10px;
  align-items: center;
}
#plannedList li div.visitedItem img,
#list li div.visitedItem img,
#visitedList li div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li span,
#list li span,
#visitedList li span {
  color: #aaa;
  line-height: 25px;
  text-decoration: none;
  font-weight: 500;
}
#plannedList li.currentItem div.visitedItem,
#list li.currentItem div.visitedItem,
#visitedList li.currentItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.currentItem div.visitedItem img,
#list li.currentItem div.visitedItem img,
#visitedList li.currentItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.currentItem a,
#list li.currentItem a,
#visitedList li.currentItem a,
#plannedList li.currentItem a:visited,
#list li.currentItem a:visited,
#visitedList li.currentItem a:visited {
  display: inline-block;
  color: #777;
  background-image: url("images/current.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
#plannedList li.nextItem div.visitedItem,
#list li.nextItem div.visitedItem,
#visitedList li.nextItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.nextItem div.visitedItem img,
#list li.nextItem div.visitedItem img,
#visitedList li.nextItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.nextItem a,
#list li.nextItem a,
#visitedList li.nextItem a,
#plannedList li.nextItem a:visited,
#list li.nextItem a:visited,
#visitedList li.nextItem a:visited {
  display: inline-block;
  color: #0199F4;
  background-image: url("images/right-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
#plannedList li.visitedItem div.visitedItem,
#list li.visitedItem div.visitedItem,
#visitedList li.visitedItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.visitedItem div.visitedItem img,
#list li.visitedItem div.visitedItem img,
#visitedList li.visitedItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.visitedItem a,
#list li.visitedItem a,
#visitedList li.visitedItem a,
#plannedList li.visitedItem a:visited,
#list li.visitedItem a:visited,
#visitedList li.visitedItem a:visited {
  display: inline-block;
  color: #777;
  line-height: 25px;
  text-decoration: none;
  font-weight: 500;
}
#plannedList li.visitedItem a:hover,
#list li.visitedItem a:hover,
#visitedList li.visitedItem a:hover {
  color: black;
}
#plannedList li.suggestion div.suggestion,
#list li.suggestion div.suggestion,
#visitedList li.suggestion div.suggestion {
  display: flex;
  gap: 10px;
}
#plannedList li.suggestion div.suggestion img,
#list li.suggestion div.suggestion img,
#visitedList li.suggestion div.suggestion img {
  width: 20px;
  height: 20px;
}
#plannedList li.suggestion a,
#list li.suggestion a,
#visitedList li.suggestion a,
#plannedList li.suggestion a:visited,
#list li.suggestion a:visited,
#visitedList li.suggestion a:visited {
  display: inline-block;
  color: black;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
#plannedBox #plannedList li.visitedItem a,
#plannedBox #plannedList li.visitedItem a:visited {
  background-image: url("images/check.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-right: 30px;
  flex-grow: 2;
}
#plannedBox #plannedList li.currentItem a,
#plannedBox #plannedList li.currentItem a:visited {
  display: inline-block;
  color: #000;
  background-image: url("images/current.svg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
#plannedBox #plannedList li.nextItem a,
#plannedBox #plannedList li.nextItem a:visited {
  display: inline-block;
  color: #0199F4;
  background-image: url("images/right-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
.ilc_section_TitelQuiz + h3.ilHeader {
  display: none;
}
#plannedList > li.heading {
  margin-bottom: 20px;
}
#plannedList > li.heading > div > span {
  color: #555;
  display: block;
  width: 100%;
  padding: 5px 30px 5px 10px;
  border-radius: 10px;
  background-color: #f5f4f5;
  cursor: pointer;
  background-image: url("images/tree_col.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
}
#plannedList > li.heading > div > span:hover {
  background-image: url("images/tree_exp.svg");
}
#plannedList > li.heading > div > span:not([slide]) {
  background-image: url("images/tree_exp.svg");
}
#plannedList > li.heading ul {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  background-color: #fff;
}
