#emil {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media only screen and (max-width: 768px) {
  #emil {
    flex-wrap: wrap;
  }
}
#emil #visitedBox {
  padding-left: 100px;
}
#list li.suggestion div.suggestion {
  background-color: #0164f4;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}
#list li.suggestion div.suggestion img {
  width: 30px !important;
  height: 30px !important;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
#list li.suggestion div.suggestion a,
#list li.suggestion div.suggestion a:visited {
  color: white;
  line-height: 30px;
}
#lena_spricht {
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: fixed;
  z-index: 1010;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #cce0fdcc;
}
#lena_spricht > div {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 30px auto 0;
  background-color: #fff;
  border-radius: 20px;
  padding-top: 40px;
  background-image: url("images/icon-lena-start.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95% auto;
  padding: 20px 20px 60px;
}
@media only screen and (max-width: 768px) {
  #lena_spricht > div {
    max-width: 100%;
    width: 100%;
    margin: 15px 0 0;
  }
}
#delayed_text {
  display: none;
}
#lena_teaser {
  position: fixed;
  left: 0;
  top: 50%;
  width: 90px;
  height: 90px;
  text-decoration: none;
  background-image: url("images/icon-lena.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 1000;
  display: block;
  margin-top: 50px;
  transform: scaleX(-1);
}
@media only screen and (max-width: 768px) {
  #lena_teaser {
    transform: scaleX(-1);
    position: fixed;
    top: auto;
    left: 5px;
    bottom: -15px;
    width: 90px;
    height: 90px;
  }
}
#quLenaPluginWrapper {
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: fixed;
  z-index: 1010;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #cce0fdcc;
}
#lena_teaser.UC-4 {
  display: none;
}
#lena_teaser.UC-4 + #quLenaPluginWrapper {
  overflow: visible;
  display: block;
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  left: 0;
  right: auto;
  bottom: 79px;
  top: auto;
}
@media only screen and (max-width: 768px) {
  #lena_teaser.UC-4 + #quLenaPluginWrapper {
    bottom: 0;
  }
}
#lena_teaser.UC-4 + #quLenaPluginWrapper #close {
  display: none;
}
#lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin {
  max-width: none;
  width: auto;
  margin: 0;
  background-color: white;
  border-radius: 0;
  padding: 0;
}
#lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin a.btn {
  align-items: center;
  background: #f6f6f6;
  color: #4b4f58;
  display: inline-flex;
  flex-flow: column wrap;
  height: 80px;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
  width: 79px;
  font-size: 0.5625rem;
  line-height: 0.748125rem;
  white-space: normal;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media only screen and (max-width: 768px) {
  #lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin a.btn {
    height: 60px;
    border-top: 0 none;
    border-bottom: 0 none;
    width: 74px;
  }
}
#lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin a.btn:hover {
  background-color: #fff;
  color: #0274be;
}
#lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin a.btn:hover .bulky-label {
  color: #0274be;
}
#lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin a.btn img.icon.small {
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-decoration: none;
  font-size: 90%;
}
@media only screen and (max-width: 768px) {
  #lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin a.btn img.icon.small {
    height: 25px;
    width: 25px;
  }
}
#lena_teaser.UC-4 + #quLenaPluginWrapper #quLenaPlugin a.btn .bulky-label {
  color: #4b4f58;
  text-align: center;
  hyphens: manual;
  display: -webkit-box;
  margin-top: 5px;
  white-space: normal;
  word-break: break-word;
  padding: 0 2px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#close,
#close2 {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 34px;
  height: 34px;
  background-color: #014fc1;
  border-radius: 17px;
}
@media only screen and (max-width: 768px) {
  #close,
  #close2 {
    right: 10px;
    top: 10px;
  }
}
#close:hover,
#close2:hover {
  background-color: #4b4f58;
}
#close:before,
#close2:before,
#close:after,
#close2:after {
  position: absolute;
  left: 16px;
  top: 3px;
  content: ' ';
  height: 28px;
  width: 3px;
  background-color: #fff;
}
#close:before,
#close2:before {
  transform: rotate(45deg);
}
#close:after,
#close2:after {
  transform: rotate(-45deg);
}
#quLenaPlugin {
  position: relative;
  max-width: 33%;
  width: 33%;
  margin: 30px auto 0;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
}
@media only screen and (max-width: 768px) {
  #quLenaPlugin {
    max-width: 100%;
    width: 100%;
    margin: 15px 0 0;
  }
}
#suggestions {
  margin-bottom: 30px;
  min-height: 150px;
}
#suggestions > div.customBG {
  float: right;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#suggestions li.suggestion div.suggestion {
  display: flex;
  gap: 10px;
}
#suggestions li.suggestion div.suggestion img {
  width: 20px;
  height: 20px;
}
#suggestions li.suggestion a,
#suggestions li.suggestion a:visited {
  display: inline-block;
  color: black;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
#plannedBox {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#visitedBox {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#plannedList,
#list,
#visitedList {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}
#plannedList li.heading span,
#list li.heading span,
#visitedList li.heading span {
  color: #555;
}
#plannedList li div.visitedItem,
#list li div.visitedItem,
#visitedList li div.visitedItem {
  display: flex;
  gap: 10px;
  align-items: center;
}
#plannedList li div.visitedItem img,
#list li div.visitedItem img,
#visitedList li div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li span,
#list li span,
#visitedList li span {
  color: #aaa;
  line-height: 25px;
  text-decoration: none;
  font-weight: 400;
}
#plannedList li.currentItem div.visitedItem,
#list li.currentItem div.visitedItem,
#visitedList li.currentItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.currentItem div.visitedItem img,
#list li.currentItem div.visitedItem img,
#visitedList li.currentItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.currentItem a,
#list li.currentItem a,
#visitedList li.currentItem a,
#plannedList li.currentItem a:visited,
#list li.currentItem a:visited,
#visitedList li.currentItem a:visited {
  display: inline-block;
  color: #777;
  background-image: url("images/current.svg");
  background-position-x: calc(100% - 11px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
#plannedList li.nextItem div.visitedItem,
#list li.nextItem div.visitedItem,
#visitedList li.nextItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.nextItem div.visitedItem img,
#list li.nextItem div.visitedItem img,
#visitedList li.nextItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.nextItem a,
#list li.nextItem a,
#visitedList li.nextItem a,
#plannedList li.nextItem a:visited,
#list li.nextItem a:visited,
#visitedList li.nextItem a:visited {
  display: inline-block;
  color: #0199F4;
  background-image: url("images/right-arrow-blue.png");
  background-position-x: calc(100% - 11px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  flex-grow: 2;
}
#plannedList li.visitedItem div.visitedItem,
#list li.visitedItem div.visitedItem,
#visitedList li.visitedItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.visitedItem div.visitedItem img,
#list li.visitedItem div.visitedItem img,
#visitedList li.visitedItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.visitedItem a,
#list li.visitedItem a,
#visitedList li.visitedItem a,
#plannedList li.visitedItem a:visited,
#list li.visitedItem a:visited,
#visitedList li.visitedItem a:visited {
  display: inline-block;
  color: #777;
  line-height: 25px;
  text-decoration: none;
  font-weight: 400;
}
#plannedList li.visitedItem a:hover,
#list li.visitedItem a:hover,
#visitedList li.visitedItem a:hover {
  color: black;
}
#plannedList li.suggestion div.suggestion,
#list li.suggestion div.suggestion,
#visitedList li.suggestion div.suggestion {
  display: flex;
  gap: 10px;
}
#plannedList li.suggestion div.suggestion img,
#list li.suggestion div.suggestion img,
#visitedList li.suggestion div.suggestion img {
  width: 20px;
  height: 20px;
}
#plannedList li.suggestion a,
#list li.suggestion a,
#visitedList li.suggestion a,
#plannedList li.suggestion a:visited,
#list li.suggestion a:visited,
#visitedList li.suggestion a:visited {
  display: inline-block;
  color: black;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
#plannedBox #plannedList li.visitedItem a,
#plannedBox #plannedList li.visitedItem a:visited {
  background-image: url("images/check.png");
  background-position-x: calc(100% - 11px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-right: 30px;
  flex-grow: 2;
}
#plannedBox #plannedList li.currentItem a,
#plannedBox #plannedList li.currentItem a:visited {
  display: inline-block;
  color: #000;
  background-image: url("images/current.svg");
  background-position-x: calc(100% - 10px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
#plannedBox #plannedList li.nextItem a,
#plannedBox #plannedList li.nextItem a:visited {
  display: inline-block;
  color: #0199F4;
  background-image: url("images/right-arrow-blue.png");
  background-position-x: calc(100% - 11px);
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
.ilc_section_TitelQuiz + h3.ilHeader {
  display: none;
}
#plannedList > li.heading {
  margin-bottom: 20px;
}
#plannedList > li.heading > div > span {
  color: #555;
  display: block;
  width: 100%;
  padding: 5px 30px 5px 10px;
  border-radius: 10px;
  background-color: #f5f4f5;
  cursor: pointer;
  background-image: url("images/tree_col.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 20px;
}
#plannedList > li.heading > div > span:hover {
  background-image: url("images/tree_exp.svg");
}
#plannedList > li.heading > div > span:not([slide]) {
  background-image: url("images/tree_exp.svg");
}
#plannedList > li.heading ul {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  background-color: #fff;
}
