
#emil {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	 #visitedBox {
		 padding-left: 100px;
	 }
}
#list {

}
#quLenaPlugin {
	max-width: 33%;
	margin: 30px 0;
}
#suggestions {
	padding-left: 100px;
	margin-bottom: 30px;
	background-image: url("images/chatbot.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	> div.customBG {
		float: right;
		width: 100%;
		//max-width: 300px;
		//min-width: 240px;
		background-color: white;
		padding: 20px;
		border-radius: 20px;
	}
}
#plannedBox {
	background-color: white;
	padding: 20px;
	border-radius: 20px;
}
#visitedBox {
	background-color: white;
	padding: 20px;
	border-radius: 20px;
}
#plannedList, #list, #visitedList {
	list-style: none;
	margin: 0;
	padding: 10px 0 0;
	li {
		&.heading {
			span {
				color: #777;
			}
		}
		div.visitedItem {
			display: flex;
			gap: 10px;
			align-items: center;
			img {
				width: 20px;
				height: 20px;
			}
		}
		span {
			color: #aaa;
			line-height: 25px;
			text-decoration: none;
			font-weight: 400;
		}

		&.nextItem {
			div.visitedItem {
				display: flex;
				gap: 10px;
				img {
					width: 0;//20px;
					height: 0;//20px;
				}
			}
			 a, a:visited {
				display: inline-block;
				color: #4472c4;
				background-image: none;//url("images/left-arrow.png");
				background-position: right center;
				background-repeat: no-repeat;
				background-size: 20px;
				//padding-right: 30px;
				line-height: 25px;
				text-decoration: none;
				font-weight: 700;
				 flex-grow: 2;
			}
		}
		&.visitedItem {
			div.visitedItem {
				display: flex;
				gap: 10px;
				img {
					width: 20px;
					height: 20px;
				}
			}

			a {
				&, &:visited {
					display: inline-block;
					color: #555;
					line-height: 25px;
					text-decoration: none;
					font-weight: 700;
				}

				&:hover {
					color: black;
				}
			}

		}
		&.suggestion {
			 a {
				color: black;
				line-height: 25px;
				text-decoration: none;
				font-weight: 700;
			}
		}
	}
}
#plannedBox {
	li {
		&.visitedItem {
			a {
				&, &:visited {
					background-image: url("images/check.png");
					background-position: right center;
					background-repeat: no-repeat;
					background-size: 16px;
					padding-right: 30px;
					flex-grow: 2;
				}
			}
		}
	}
}
.ilc_section_TitelQuiz {
	+ h3.ilHeader {
		display: none;
	}
}

.h5p-iframe-wrapper {
	iframe {

	}
}
#plannedList {
	> li.heading {
		margin-bottom: 20px;
		background-color: #ddd;
		> span {
			padding-left: 10px;
			color: #555;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 10px 0 0;
			background-color: #fff;
		}
	}
}