#emil {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#emil #visitedBox {
  padding-left: 100px;
}
#quLenaPlugin {
  max-width: 33%;
  margin: 30px 0;
}
#suggestions {
  padding-left: 100px;
  margin-bottom: 30px;
  background-image: url("images/chatbot.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
}
#suggestions > div.customBG {
  float: right;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#plannedBox {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#visitedBox {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
#plannedList,
#list,
#visitedList {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
}
#plannedList li.heading span,
#list li.heading span,
#visitedList li.heading span {
  color: #777;
}
#plannedList li div.visitedItem,
#list li div.visitedItem,
#visitedList li div.visitedItem {
  display: flex;
  gap: 10px;
  align-items: center;
}
#plannedList li div.visitedItem img,
#list li div.visitedItem img,
#visitedList li div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li span,
#list li span,
#visitedList li span {
  color: #aaa;
  line-height: 25px;
  text-decoration: none;
  font-weight: 400;
}
#plannedList li.currentItem div.visitedItem,
#list li.currentItem div.visitedItem,
#visitedList li.currentItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.currentItem div.visitedItem img,
#list li.currentItem div.visitedItem img,
#visitedList li.currentItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.currentItem a,
#list li.currentItem a,
#visitedList li.currentItem a,
#plannedList li.currentItem a:visited,
#list li.currentItem a:visited,
#visitedList li.currentItem a:visited {
  display: inline-block;
  color: #000;
  background-image: url("images/current.svg");
  background-color: #ffff04;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
#plannedList li.nextItem div.visitedItem,
#list li.nextItem div.visitedItem,
#visitedList li.nextItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.nextItem div.visitedItem img,
#list li.nextItem div.visitedItem img,
#visitedList li.nextItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.nextItem a,
#list li.nextItem a,
#visitedList li.nextItem a,
#plannedList li.nextItem a:visited,
#list li.nextItem a:visited,
#visitedList li.nextItem a:visited {
  display: inline-block;
  color: #0199F4;
  background-image: url("images/right-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
#plannedList li.visitedItem div.visitedItem,
#list li.visitedItem div.visitedItem,
#visitedList li.visitedItem div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.visitedItem div.visitedItem img,
#list li.visitedItem div.visitedItem img,
#visitedList li.visitedItem div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.visitedItem a,
#list li.visitedItem a,
#visitedList li.visitedItem a,
#plannedList li.visitedItem a:visited,
#list li.visitedItem a:visited,
#visitedList li.visitedItem a:visited {
  display: inline-block;
  color: #555;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
}
#plannedList li.visitedItem a:hover,
#list li.visitedItem a:hover,
#visitedList li.visitedItem a:hover {
  color: black;
}
#plannedList li.suggestion div.visitedItem,
#list li.suggestion div.visitedItem,
#visitedList li.suggestion div.visitedItem {
  display: flex;
  gap: 10px;
}
#plannedList li.suggestion div.visitedItem img,
#list li.suggestion div.visitedItem img,
#visitedList li.suggestion div.visitedItem img {
  width: 20px;
  height: 20px;
}
#plannedList li.suggestion a,
#list li.suggestion a,
#visitedList li.suggestion a,
#plannedList li.suggestion a:visited,
#list li.suggestion a:visited,
#visitedList li.suggestion a:visited {
  display: inline-block;
  color: black;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
#plannedBox #plannedList li.visitedItem a,
#plannedBox #plannedList li.visitedItem a:visited {
  background-image: url("images/check.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-right: 30px;
  flex-grow: 2;
}
#plannedBox #plannedList li.currentItem a,
#plannedBox #plannedList li.currentItem a:visited {
  display: inline-block;
  color: #000;
  background-image: url("images/current.svg");
  background-color: #ffff04;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
#plannedBox #plannedList li.nextItem a,
#plannedBox #plannedList li.nextItem a:visited {
  display: inline-block;
  color: #0199F4;
  background-image: url("images/right-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: 30px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 700;
  flex-grow: 2;
}
.ilc_section_TitelQuiz + h3.ilHeader {
  display: none;
}
#plannedList > li.heading {
  margin-bottom: 20px;
  background-color: #ddd;
}
#plannedList > li.heading > span {
  padding-left: 10px;
  color: #555;
}
#plannedList > li.heading ul {
  list-style: none;
  margin: 0;
  padding: 10px 0 0;
  background-color: #fff;
}
